﻿@{
    ViewBag.Title = "SurfaceCharges Viewer";
}

<div class="tabbable" style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: 10px;">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#visualization" data-toggle="tab">Visualization</a></li>
        <li><a href="#correlation" data-toggle="tab">Correlations</a></li>
    </ul>
    
    <div class="tab-content" style="position: relative">
        <div class="tab-pane active" id="visualization" style="position: fixed; top: 45px; bottom: 0; left: 0; right: 0; margin: 10px">
            <div id="scene" style="position: absolute; width: 100%; top:55px; bottom: 0; background: black">
            </div>

            <div>
                <div class="form-inline">
                    <label>Field: </label>
                    <select data-bind="options: fieldNames, value: currentField"></select>
                    <button class="btn" data-bind="click: applyCurrentField">Apply</button>

                    <label>Diff. field </label>
                    <label>A: </label><select data-bind="options: fieldNames, value: diffFieldA"></select>
                    <label>B: </label><select data-bind="options: fieldNames, value: diffFieldB"></select>
                    <button class="btn" data-bind="click: applyDiffField">Apply <b>A - B</b></button>

                    <!--button class="btn pull-right" data-bind="click: resetCamera">Reset Camera</button-->
                </div>
                <div>
                    <span style="font-weight: bold">Field: </span> <span data-bind="text: fieldStats().name"></span>&nbsp;
                    <span style="font-weight: bold">Field min: </span> <span data-bind="text: fieldStats().min"></span>&nbsp;
                    <span style="font-weight: bold">Field max: </span> <span data-bind="text: fieldStats().max"></span>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="correlation">

            <div>
                <div class="form-inline">

                    <label>A: </label><select data-bind="options: fieldNames, value: analyzeFieldA"></select>
                    <label>B: </label><select data-bind="options: fieldNames, value: analyzeFieldB"></select>

                    <!--button class="btn pull-right" data-bind="click: resetCamera">Reset Camera</button-->
                </div>
                <table class="table">
                    <thead>
                        <tr><th>Field</th><th>Charges</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><pre data-bind="text: fieldAnalysis"></pre></td>
                            <td><pre data-bind="text: chargeAnalysis"></pre></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div style="position: absolute; right: 10px; top: 10px" class="form-inline">
    <span id="filename" style="font-weight: bold; margin-right: 15px">Nothing Loaded</span>
    <input type="file" id="files" name="files[]" />
</div>